
.form-control{
    width: 20%;
    margin:0 10px;
    height: 90% !important;
    background-color: #F8F9FA !important;
}
.form-control:hover{
    background-color: rgba(150,150,150,.5)  !important;
    // opacity:.1;
}
.product-select{
    margin: auto 0 auto auto ;
}