<div class="row">
    <div class="col-md-4 col-lg-3 d-flex" v-for="item in Products">
        <div class="product ftco-animate">
            <div class="img productimg d-flex align-items-center justify-content-center" :style="{'background-image' : `url(${item.img})`}">
                <div class="desc">
                    <p class="meta-prod d-flex">
                        <a @click="addToCart(item.pid)" class="d-flex align-items-center justify-content-center">
                            <span class="flaticon-shopping-bag"></span>
                        </a>
                        <a href="#" class="d-flex align-items-center justify-content-center">
                            <span class="flaticon-heart"></span>
                        </a>
                        <a href="#" class="d-flex align-items-center justify-content-center">
                            <span class="flaticon-visibility"></span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="title text-center">
                <h4 class="limit-length">
                    {{item.name}}
                </h4>

            </div>
            <div class="text text-center">
                <span class="productprice">
                    ${{item.price}}
                </span>
            </div>
        </div>
    </div>
</div>