<div>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/PMBG2.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <Breadcrumbs />
                    <h2 class="mb-0 bread">Products</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" id="ProductList">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <b-pagination v-model="currentPage" pills :total-rows="totalRows" :per-page="perPage"
                                    align="center" @change="pageChange" class="tt-pagination">
                                </b-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex  align-items-center">
                            <h4 class="product-select">Order By</h4>
                            <select class=" form-control" id="exampleFormControlSelect1" v-model="selectedCatagory"
                                v-on:change="typechange($event)">
                                <option v-for="item in SortName" :value="item">{{item}}</option>
                            </select>
                            <select class="form-control" id="exampleFormControlSelect1" v-model="selectedsort"
                                v-on:change="sortchange($event)">
                                <option v-for="item in Sortselect" :value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex" v-for="item in showItems">
                            <ProductCard :Product="item" />


                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <b-pagination v-model="currentPage" pills :total-rows="totalRows" :per-page="perPage"
                                    align="center" @change="pageChange"class="tt-pagination">
                                </b-pagination>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>class Types</h3>
                            <ul class="p-0">
                                <li v-for="item in ClassName"><button class="filter" :id="item"
                                        v-on:click="pselect(item)">{{item}}</button> <span
                                        class="fa fa-chevron-right"></span></li>
                                <li><button class="filter" v-on:click="reset()">Reset</button> <span
                                        class="fa fa-chevron-right"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3>Attribute Types</h3>
                        <ul class="p-0">
                            <li v-for="item in AttrListName" class="attr-li"><button class="filter"
                                    v-on:click="display(item)">{{item}}</button> <span
                                    class="fa fa-chevron-right"></span>
                                <ul style="display: none;" :id="item" v-bind:class="valueul">
                                    <li v-for="vitem in AttrList" class="attr-li-value"
                                        v-on:click="aselect(vitem.value)">
                                        {{vitem.value}}
                                    </li>
                                </ul>
                            </li>
                            <li class="attr-re"><button class="filter" v-on:click="reset()">Reset</button> <span
                                    class="fa fa-chevron-right"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>