.product-details #productAmount .form-control {
    padding: 0;
    border: 1px solid rgb(118, 118, 118)!important;
    border-radius: 3px;
}

.product-details #productAmount button {
    border: none !important;
}